.upper {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    width: 1138px;
    margin: auto;
}

h1 {
    font-size: 30px;
}

.separator {
    width: 360px;
    height: 1px;
    background-color: #dedede;
}
