.brands_section {
    width: 1250px;
    margin: auto;
    margin-top: 90px;
}
.brands {
    display: flex;
    gap: 42px;
    margin-top: 32px;
}

.brand {
    border-radius: 50%;
    padding: 87px 47px;
    box-shadow: 0 7px 20px rgba(57, 48, 19, 0.13);
    width: 211px;
    height: 211px;
}
